.message{
    /* border: 2px solid black; */
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    background-color: #F0DBFA;

    color: #C863F7;
    font-weight: 500;
    font-size: 20px;

}

.title{
    color: #C863F7;
    -webkit-text-stroke: 2px #B320F7;
}